body{
    background-color: rgb(12, 12, 12);
    background-color: black blur(8px);
}
h1{
    position: absolute;
    left: 10%;
    top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login {
    position: absolute;
    width: 800px;
    background-color: rgb(245, 245, 68);
    left: 25%;
    top: 20%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:20px;
}
.zap{
    position: absolute;
    right: 500px;
}
.user, .senha {
    margin-bottom: 20px;
}

.user input, .senha input {
    position: relative;
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    left:60%;
    border-radius: 10px;
}
#b1 {
    position: absolute;
    top: 80%;
    left: 85%;
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transform: translate(-50%, -50%);
}


#b1:active {
    background-color: #5a4b00; 
}
.b2{
    position: absolute;
    top: 75%;
    left:54%;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
}
.b2:active {
    background-color: #5a4b00; 
}